body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #11174c;
  overflow: hidden; /* Prevent scrolling */
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0; /* Set the particles div behind the chat container */
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 96vh;
  background-color: transparent; /* Make background transparent */
  z-index: 1; /* Ensure it stays above the particles */
  padding: 20px 10px 10px 5px; /* Add padding at the top */
  box-sizing: border-box;
}

.conversation {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.message.user {
  align-self: flex-end;
  background-color: #b2e0d5;
}

.message.bot {
  align-self: flex-start;
  background-color: #b2e0d5;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #11174c; /* Match background color */
  border-top: 1px solid #5372F0;
  z-index: 2; /* Ensure it stays above the particles */
  margin-top: auto; /* Pushes the input container to the bottom */
  margin-bottom: 0; /* Ensure no extra margin at the bottom */
}

textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #5372F0;
  margin-right: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

button {
  padding: 10px 15px;
  background-color: #5372F0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
